<!-- Navbar -->
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Brick Collector</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <button
          class="btn btn-outline-success"
          data-bs-toggle="modal"
          data-bs-target="#addSetModal"
          type="submit"
        >
          Add Set
        </button>
        <button
          class="btn btn-outline-success"
          type="submit"
          routerLink="/search"
        >
          Search Set
        </button>
      </div>
    </div>
  </nav>
</div>
