<div class="container">
  <div class="row">
    <!-- Alert -->
    <alert *ngIf="isAlert"></alert>

    <!-- Search From -->
    <div id="searchForm" class="col-3">
      <h5>Search Set</h5>
      <form [formGroup]="searchDetail">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Name </label>
          <input
            type="text"
            formControlName="name"
            class="form-control"
            id="name"
          />
        </div>

        <button type="button" class="btn btn-primary" (click)="searchSet()">
          Search Set
        </button>
      </form>
    </div>

    <!-- Card Results -->
    <div class="col-9">
      <div class="container text-center" *ngIf="setObj.name">
        <div class="row justify-content-evenly">
          <div class="card col-3" style="width: 18rem">
            <div *ngIf="setObj.img" class="card-header text-center">
              <img
                src="{{ setObj.img }}"
                class="card-img-top"
                alt="{{ setObj.name }}"
              />
            </div>
            <div *ngIf="!setObj.img" class="card-header text-center">
              <img
                src="../../../assets/yellowBrick.png"
                class="card-img-top"
                alt="no image available"
              />
            </div>

            <div class="card-body">
              <h5 class="card-title">{{ setObj.name }}</h5>
              <p class="card-text">{{ setObj.year }}</p>
              <p class="card-text">{{ setObj.num_parts }} parts</p>
            </div>

            <div class="card-footer">
              <button type="button" class="btn btn-success" (click)="addSet()">
                <fa-icon [icon]="iconSave"></fa-icon> Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
